<div class="container bg-white">
  <div class="fixed bg-white w-full mx-auto p-6 pb-18 h-[15vh] z-20">
    <!-- Header -->
    <header class="flex items-center h-[60%] justify-between border-b pb-4 mb-1">
      <div class="text-gray-600 text-xs w-1/4">Always Updated</div>
      <div
        class="text-2xl font-bold text-gray-800"
      >
        The SG Times
      </div>
      <div class="text-gray-600 text-xs text-right w-1/4">{{ currentDate }}</div>
    </header>

    <!-- Navigation -->
    <nav class="flex overflow-scroll space-x-4 mb-6 justify-center pb-2 border-b border-b-black">
      <div (click)="setSection('home')" [ngClass]="{'font-bold': selectedCategory === 'home'}" class="text-gray-800 hover:underline">All</div>
      <div (click)="setSection('arts')" [ngClass]="{'font-bold': selectedCategory === 'arts'}" class="text-gray-800 hover:underline">Arts</div>
      <div (click)="setSection('business')" [ngClass]="{'font-bold': selectedCategory === 'business'}" class="text-gray-800 hover:underline">Business</div>
      <div (click)="setSection('fashion')" [ngClass]="{'font-bold': selectedCategory === 'fashion'}" class="text-gray-800 hover:underline">Fashion</div>
      <div (click)="setSection('food')" [ngClass]="{'font-bold': selectedCategory === 'food'}" class="text-gray-800 hover:underline">Food</div>
      <div (click)="setSection('health')" [ngClass]="{'font-bold': selectedCategory === 'health'}" class="text-gray-800 hover:underline">Health</div>
      <div (click)="setSection('politics')" [ngClass]="{'font-bold': selectedCategory === 'politics'}" class="text-gray-800 hover:underline">Politics</div>
      <div (click)="setSection('sports')" [ngClass]="{'font-bold': selectedCategory === 'sports'}" class="text-gray-800 hover:underline">Sports</div>
      <span class="absolute bottom-3 left-2 right-6 border-b border-black transform translate-y-full"></span>
    </nav>
  </div>

  <!-- Main content grid -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mx-auto p-6 pt-[17vh] w-[100vw]">
    <!-- Left Column -->
    <div class="col-span-2">
      <app-news-list [category]="selectedCategory"></app-news-list>
    </div>

    <!-- Right Column -->
    <top-news-list></top-news-list>
   
  </div>
</div>
