<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4">News Articles</h1>
  
    <ng-container *ngIf="loading; else articleList">
      <app-loading-spinner></app-loading-spinner> <!-- Show loading spinner -->
    </ng-container>
  
    <ng-template #articleList>
      <ng-container *ngIf="news && news.length > 0; else noArticles">
        <div *ngFor="let article of news" class="mb-4 p-4 border rounded shadow">
          <h2 class="font-semibold text-lg text-red-500">
            <a  class="hover:underline">
              {{ article.title }}
            </a>
          </h2>
          <p class="text-gray-700">{{ article.abstract }}</p>
  
          <ng-container *ngIf="article.multimedia && article.multimedia.length > 0">
            <img 
              [src]="article.multimedia[0].url" 
              [alt]="article.title" 
              class="my-2 rounded"
              width="300" 
              height="auto"
            />
          </ng-container>
        </div>
      </ng-container>
  
      <ng-template #noArticles>
        <p class="text-gray-500">No articles available at this time.</p>
      </ng-template>
    </ng-template>
  </div>
  